.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0C1633;
}

.App-link {
  color: #61dafb;
}

.Container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background-color: #0C1633;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 16px 0;
}

.secondary {
  background-color: #BECDE3;
  color: #03091E;
  font-size: 1rem;
}

img {
  max-width: 60vw;
  max-height: 45vh;
  object-fit: contain;
}
